h1
  = t('.title')
  
= render 'form', railway_station: [:admin, @railway_station]

br
= link_to t('common.show'), [:admin, @railway_station]
|  | 
= link_to t('common.back'), admin_railway_stations_path
