p#notice = notice
h1 Новый билет

= render partial: "form", locals: { ticket: @ticket, train: @train, departure_station: @departure_station, destination_station: @destination_station}

=<> link_to 'В начало', welcome_index_path  
||  
=<> link_to 'Назад', ticket_search_path
