<p> <strong> Верхних мест: </strong> <%= @carriage.top_seats %>  </p>
<p> <strong> Нижних мест: </strong> <%= @carriage.bottom_seats %> </p>
<p> <strong> Верхних боковых мест: </strong> <%= @carriage.side_top_seats %> </p>
<p> <strong> Нижних боковых мест: </strong> <%= @carriage.side_bottom_seats %> </p>
