<p id="notice"> <%= notice %> </p>
<h1>Список вагонов</h1>

<% if @carriages.empty? %>
  <p>Список вагонов пуст</p>
 <% else %>
<table>
  <thead>
    <th>Номер</th>
    <th>Тип</th>
  </thead>

  <tbody>
    <% @carriages.each do |carriage| %>
      <%= render 'carriage', carriage: carriage %>
    <% end %>
  </tbody>

</table>
  <% end %>
<%= link_to 'Создать вагон', new_train_carriage_path %> |
<%= link_to 'В начало', welcome_index_path %>
