<p id="notice"> <%= notice %> </p>
<h1>Список вагонов</h1>

<% if @wagons.empty? %>
  <p>Список вагонов пуст</p>
 <% else %>
<table>
  <thead>
    <th>Номер</th>
    <th>Тип</th>
  </thead>

  <tbody>
    <%= render @wagons %>
  </tbody>

</table>
  <% end %>
<%= link_to 'Создать вагон', new_wagon_path %> |
<%= link_to 'В начало', welcome_index_path %>
