<h1>Редактирование поезда</h1>

<%= render 'form', train: @train %>
<%= link_to 'Добавить вагон', new_admin_train_carriage_path(@train) %> |
<%= link_to 'Показать', [:admin, @train] %> |
<%= link_to 'Назад', admin_trains_path %>
